:root {
    --header-font: georgia, "times new roman", times, serif;
    --body-font: helvetica, arial, sans-serif;
    --off-black: rgb(18, 18, 18)
}

#root.dark {
    background-color: rgb(100, 100, 100);
}

* {
    font-family: var(--body-font)
}

h2,
h3 {
    font-family: var(--header-font);
}

.errors-container {
    color: red;
}

.auth-form .sep {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.sep::before,
.sep::after {
    content: "";
    flex-grow: 1;
}

.sep.light::before,
.sep.light::after {
    border-bottom: 1px solid rgb(226, 226, 226);
}

.sep.dark::before,
.sep.dark::after {
    border-bottom: 1px solid rgb(30, 30, 30);
}
