:root {
    --unit-length: 4em;
    --circle-width: 4em;
    --letter-box-length: 3em;
}

#session-container {
    background-color: turquoise;
    position: relative;
    display: flex;
    font-size: 20px;
}

#puzzle-container {
    font-size: 10px;
    position: relative;
    /* box-sizing: border-box; */
    padding: 1em;
    width: calc(6 * var(--unit-length) + 5 * var(--circle-width) + 2 * var(--letter-box-length));
    height: calc(6 * var(--unit-length) + 5 * var(--circle-width) + 2 * var(--letter-box-length));
    display: grid;
    grid-template-areas:
        " .  .  .  u1 .  u2 .  u3 .  .  ."
        " .  .  . du1 . du2 . du3 .  .  ."
        " .  .  b  b  b  b  b  b  b  .  ."
        "l3 dl3 b  b  b  b  b  b  b dr1 r1"
        " .  .  b  b  b  b  b  b  b  .  ."
        "l2 dl2 b  b  b  b  b  b  b dr2 r2"
        " .  .  b  b  b  b  b  b  b  .  ."
        "l1 dl1 b  b  b  b  b  b  b dr3 r3"
        " .  .  b  b  b  b  b  b  b  .  ."
        " .  .  . dd3 . dd2 . dd1 .  .  ."
        " .  .  .  d3 . d2  .  d1 .  .  .";
    grid-template-columns: var(--letter-box-length) var(--circle-width) var(--unit-length) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) var(--unit-length) var(--circle-width) var(--letter-box-length);
    grid-template-rows: var(--letter-box-length) var(--circle-width) var(--unit-length) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) var(--unit-length) var(--circle-width) var(--letter-box-length);
}

#puzzle-square {
    position: absolute;
    width: calc(6 * var(--unit-length) + 4 * var(--circle-width) - 2px);
    height: calc(6 * var(--unit-length) + 4 * var(--circle-width) - 2px);
    content: '';
    bottom: calc(var(--letter-box-length) + 0.5 * var(--circle-width) + 1em);
    left: calc(var(--letter-box-length) + 0.5 * var(--circle-width) + 1em);
    background-color: white;
    border: 2px solid black;
    z-index: 1;
}

#puzzle-container .circle {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
    z-index: 3;
    /* position: absolute; */
}

#puzzle-container .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 3em;
    color: white;
}

span.u1 {
    grid-area: u1
}

span.u2 {
    grid-area: u2
}

span.u3 {
    grid-area: u3
}

span.d1 {
    grid-area: d1
}

span.d2 {
    grid-area: d2
}

span.d3 {
    grid-area: d3
}

span.l1 {
    grid-area: l1
}

span.l2 {
    grid-area: l2
}

span.l3 {
    grid-area: l3
}

span.r1 {
    grid-area: r1
}

span.r2 {
    grid-area: r2
}

span.r3 {
    grid-area: r3
}

div.u1 {
    grid-area: du1
}

div.u2 {
    grid-area: du2
}

div.u3 {
    grid-area: du3
}

div.d1 {
    grid-area: dd1
}

div.d2 {
    grid-area: dd2
}

div.d3 {
    grid-area: dd3
}

div.l1 {
    grid-area: dl1
}

div.l2 {
    grid-area: dl2
}

div.l3 {
    grid-area: dl3
}

div.r1 {
    grid-area: dr1
}

div.r2 {
    grid-area: dr2
}

div.r3 {
    grid-area: dr3
}


#puzzle-container .letter.used {
    color: black;
}

/* #puzzle-container .letter.active-letter {
    font-weight: bolder;
    color: black;
    border-radius: 50%;
    background: center border-box radial-gradient(circle at center, gold, 60%, #40e0d0);
}

#puzzle-container .circle.used {
    background-color: #40e0d0;
} */

#puzzle-author {
    display: flex;
    align-items: center;
    background-color: white;
}

#guesses-container {
    padding: 8px;
    box-sizing: border-box;
}
