:root {
    --unit-length: 40px;
    --circle-width: 30px;
    --letter-box-length: 30px;
}

/* #a-to-o {
    content: '';
    background-color: black;
    height: calc(0.25 * var(--circle-width));
    width: calc(1.414 * var(--unit-length) + 1.414 * var(--circle-width));
    position: absolute;
    bottom: calc(var(--unit-length) + var(--circle-width) + 0.25 * var(--circle-width));
    left: calc(0.5 * var(--letter-box-length) + 0.5 * var(--circle-width));
    z-index: 2;
    rotate: 45deg;
} */

#session-container {
    background-color: turquoise;
    position: relative;
}

#puzzle-container {
    /* position: absolute; */
    box-sizing: border-box;
    width: calc(8 * var(--unit-length) + 5 * var(--circle-width) + 2 * var(--letter-box-length));
    height: calc(8 * var(--unit-length) + 5 * var(--circle-width) + 2 * var(--letter-box-length));
    display: grid;
    grid-template-areas:
        " .  .  .  u1 .  u2 .  u3 .  .  ."
        " .  .  . du1 . du2 . du3 .  .  ."
        " .  .  b  b  b  b  b  b  b  .  ."
        "l3 dl3 b  b  b  b  b  b  b dr1 r1"
        " .  .  b  b  b  b  b  b  b  .  ."
        "l2 dl2 b  b  b  b  b  b  b dr2 r2"
        " .  .  b  b  b  b  b  b  b  .  ."
        "l1 dl1 b  b  b  b  b  b  b dr3 r3"
        " .  .  b  b  b  b  b  b  b  .  ."
        " .  .  . dd3 . dd2 . dd1 .  .  ."
        " .  .  .  d3 . d2  .  d1 .  .  .";
    grid-template-columns: var(--letter-box-length) var(--circle-width) var(--unit-length) var(--circle-width) calc(3 * var(--unit-length)) var(--circle-width) calc(3 * var(--unit-length)) var(--circle-width) var(--unit-length) var(--circle-width) var(--letter-box-length);
    grid-template-rows: var(--letter-box-length) var(--circle-width) var(--unit-length) var(--circle-width) calc(3 * var(--unit-length)) var(--circle-width) calc(3 * var(--unit-length)) var(--circle-width) var(--unit-length) var(--circle-width) var(--letter-box-length);
}

#puzzle-square {
    position: absolute;
    width: calc(8 * var(--unit-length) + 3 * var(--circle-width) + var(--letter-box-length) - 2px);
    height: calc(8 * var(--unit-length) + 3 * var(--circle-width) + var(--letter-box-length) - 2px);
    content: '';
    bottom: calc(var(--letter-box-length) + 0.5 * var(--circle-width));
    left: calc(var(--letter-box-length) + 0.5 * var(--circle-width));
    background-color: white;
    border: 2px solid black;
    z-index: 1;
}

#puzzle-container .circle {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: turquoise;
    z-index: 3;
    /* position: absolute; */
}

#puzzle-container .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
}

span.u1 {
    grid-area: u1
}

span.u2 {
    grid-area: u2
}

span.u3 {
    grid-area: u3
}

span.d1 {
    grid-area: d1
}

span.d2 {
    grid-area: d2
}

span.d3 {
    grid-area: d3
}

span.l1 {
    grid-area: l1
}

span.l2 {
    grid-area: l2
}

span.l3 {
    grid-area: l3
}

span.r1 {
    grid-area: r1
}

span.r2 {
    grid-area: r2
}

span.r3 {
    grid-area: r3
}

div.u1 {
    grid-area: du1
}

div.u2 {
    grid-area: du2
}

div.u3 {
    grid-area: du3
}

div.d1 {
    grid-area: dd1
}

div.d2 {
    grid-area: dd2
}

div.d3 {
    grid-area: dd3
}

div.l1 {
    grid-area: dl1
}

div.l2 {
    grid-area: dl2
}

div.l3 {
    grid-area: dl3
}

div.r1 {
    grid-area: dr1
}

div.r2 {
    grid-area: dr2
}

div.r3 {
    grid-area: dr3
}

/* #puzzle-container {
    width: calc(40 * var(--unit-length));
    height: calc(40 * var(--unit-length));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-container .letters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#up-letters,
#down-letters {
    width: calc(24 * var(--unit-length));
    height: calc(2 * var(--unit-length));
}

#left-letters,
#right-letters {
    width: calc(2 * var(--unit-length));
    height: calc(20 * var(--unit-length));
    flex-direction: column;
}

#puzzle-square {
    width: calc(20 * var(--unit-length));
    height: calc(20 * var(--unit-length));
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    border: var(--unit-length) solid rgb(255, 64, 42);
}

#puzzle-middle {
    display: flex;
}

#puzzle-container .letter {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#puzzle-container .used {
    color: grey;
}

#puzzle-container .active-letter {
    font-weight: bolder;
    /* text-shadow: #40e0d0 0px 0px 10px; */
    border-radius: 50%;
    background: center border-box radial-gradient(circle at center, gold, 60%, #40e0d0);
}
