#puzzle-topbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* height: 50px; */
    align-items: center;
    padding: 0px 0 0 20px;
}

#puzzle-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    margin: 10px 5px 10px 0;
}

#restart-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
}

#restart-button:hover {
    background-color: var(--highlight-color);
    color: white;
}

#session-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100vw;
    height: calc(100vh - var(--nav-height))
}

#guesses-puzzles {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#puzzle-container {
    font-size: var(--puzzle-size);
    height: calc(50* var(--puzzle-size));
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1em;
    width: calc(6 * var(--unit-length) + 5 * var(--circle-width) + 2 * var(--letter-box-length));
    height: calc(6 * var(--unit-length) + 5 * var(--circle-width) + 2 * var(--letter-box-length));
    display: grid;
    grid-template-areas:
        " .  .  .  u1 .  u2 .  u3 .  .  ."
        " .  .  . du1 . du2 . du3 .  .  ."
        " .  .  b  b  b  b  b  b  b  .  ."
        "l3 dl3 b  b  b  b  b  b  b dr1 r1"
        " .  .  b  b  b  b  b  b  b  .  ."
        "l2 dl2 b  b  b  b  b  b  b dr2 r2"
        " .  .  b  b  b  b  b  b  b  .  ."
        "l1 dl1 b  b  b  b  b  b  b dr3 r3"
        " .  .  b  b  b  b  b  b  b  .  ."
        " .  .  . dd3 . dd2 . dd1 .  .  ."
        " .  .  .  d3 . d2  .  d1 .  .  .";
    grid-template-columns: var(--letter-box-length) var(--circle-width) var(--unit-length) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) var(--unit-length) var(--circle-width) var(--letter-box-length);
    grid-template-rows: var(--letter-box-length) var(--circle-width) var(--unit-length) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) calc(2 * var(--unit-length)) var(--circle-width) var(--unit-length) var(--circle-width) var(--letter-box-length);
}

#puzzle-square {
    position: absolute;
    width: calc(6 * var(--unit-length) + 4 * var(--circle-width) - 4px);
    height: calc(6 * var(--unit-length) + 4 * var(--circle-width) - 4px);
    content: '';
    bottom: calc(var(--letter-box-length) + 0.5 * var(--circle-width) + 1em);
    left: calc(50% - 2 * var(--circle-width) - 3 * var(--unit-length));
    background-color: white;
    border: 4px solid black;
    z-index: 1;
}

#puzzle-container .circle {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid black;
    background-color: white;
    z-index: 3;
    box-sizing: border-box;
    /* position: absolute; */
}

#puzzle-container .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 3em;
    color: white;
}

#puzzle-container .letter.used {
    color: black;
}

#puzzle-container .letter.active-letter {
    font-weight: bolder;
    color: #fdb515;
    text-shadow: -1.2px 1.2px 0 black, 1.2px 1.2px 0 black, 1.2px -1.2px 0 black,
        -1.2px -1.2px 0 black;
    border-radius: 50%;
    background: center border-box radial-gradient(circle at center, gold);
}

/* #puzzle-container .circle.used {
    background-color: black;
} */

#puzzle-author {
    display: flex;
    align-items: center;
    background-color: white;
}

#guesses-container {
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(50 * var(--puzzle-size));
    margin-top: 80px;
    margin-left: 50px;
    align-items: center;
}

#guess-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-box {
    font-size: 30px;
    padding: 0;
    color: black;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 3px solid black;
}

#past-guesses {
    margin-top: 10px;
    font-size: 1.3em;
}

#attempts-box {
    margin-top: 10px;
    font-size: 0.9em;
}
